*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  font-size: 16px;
  height: 100vh;
  background-image: linear-gradient(
  180deg,
  hsl(240deg 100% 20%) 0%,
  hsl(259deg 100% 23%) 30%,
  hsl(279deg 100% 27%) 40%,
  hsl(298deg 100% 30%) 46%,
  hsl(318deg 100% 33%) 49%,
  hsl(337deg 100% 37%) 52%,
  hsl(357deg 100% 40%) 55%,
  hsl(16deg 100% 43%) 59%,
  hsl(36deg 100% 47%) 69%,
  hsl(55deg 100% 50%) 100%
);
background-repeat: no-repeat;
background-size: cover;
}
.app{
  
  color: #f7fffe;
  border-radius: 25px;
  text-align: center;
  max-width: 650px;
  margin: 25px auto;
  padding: 25px 20px 50px 20px;
}
.header{
  margin: 15px 0;
  font-size: 1.5rem;
}
.form{
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px auto;
}
.form input,
.form button {
  padding: 0.25rem;
  font-size: 1.675rem;
  border: none;
  background: #f7fffe;
}
.form button {
  color: hsl(247, 100%, 21%);
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
.form button:hover {
  background: hsl(247, 100%, 21%);
  color: #f7fffe;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-image: none;
  padding: 0.2rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: hsl(247, 100%, 21%);
  text-align: center;
}
.select {
  /* margin: 1rem; */
 
  position: relative;
  overflow: hidden;
}

.line{
  margin-bottom: 30px;
}
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 40%;
  list-style: none;
}
.todo-item{
  margin: .5rem;
  padding-left: .5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.btn-stack{
  margin-left: .5rem;
}
.todo-item{
  flex: 1;
}

.todo-item button{
  border:none;
  cursor: pointer;
}
.btn-check,
.btn-delete {
  background: #ff6f47;
  color: white;
  
  padding: 1rem;
  
  font-size: 1rem;
}
.btn-check {
  background: hsl(247, 86%, 46%);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}


.completed{
  text-decoration: line-through;
  opacity: 0.5;
}